<div class="card" *ngIf="product.title" >
    <img [src]="product.imageUrl" *ngIf="product.imageUrl" style="border-radius: 25px; height: 300px;" class=" card-img-top p-2" [alt]="product.title">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{ product.price | currency:'USD'}}</p>
    </div>
    <div class="card-footer d-grid gap-2" *ngIf="showActions">
      <button
      *ngIf="getQuantity() === 0; else updateQuantity"
      (click)="addToCart()"   class="btn btn-secondary" >
        Add To Cart
      </button>
      <ng-template #updateQuantity >
        <div class="row g-0">
          <div class="col-2 col-sm-1">
            <button class="btn btn-secondary btn-block" (click)="removeFromCart()">-</button>
          </div>
          <div class="col p-1 text-center" style="color: rgb(90, 63, 240); font-weight: bolder;"> {{ getQuantity() }}  in Cart</div>
        <div class="col-2 col-sm-1 ">
            <button class="btn btn-secondary btn-block" (click)="addToCart()">+</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>